*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: block;
    font-weight: 600;
    margin-top: 10px;
}

form{
    width: 400px;
    border: 1px solid navy;
    margin: 0 auto;
}

input{
 width: 100%;
 height: 45px;
 outline: none;
}

button {
    margin-top: 25px;
    height: 45px;
    width: 100%;
    background-color: skyblue;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px gray;
}