/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header {
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.nav-links{
    display: flex;
    list-style: none;
}
.link {
    padding: 8px 15px;
    font-size: 1.3rem;
    color: black;
}

.link:hover{
    color: brown;
}


    


.hamburger .line {
    height: 3px;
    width: 30px;
    display: block;
    background-color: black;
    margin: 5px 0;
}

.hero-section {
    display: flex;
}

.hero-section div{
    width:50vw;
}

.hero-img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.hero-section .right-hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .left-hero{
    padding: 40px 20px;
}

.hero-section .left-hero h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 25px;
}

.hero-section .left-hero .cv-links {
    background-color: brisom;
    cursor: pointer;
    box-shadow: 2px 4px 10px gray;

}

.post-section {
    /* height: 396px; */
    background-color: #edf7fa;
    padding: 25px  80px;

}

.post-section .post-section-headers {
    display: flex;
    justify-content: space-between;
}

.post-section .post-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    
}

.post-section .post-cards >div {
    background-color: white;
    padding: 20px 40px 20px 20px;
}

.post-section .post-cards > div >h6{
    font-size: 26px;
    font-weight: 700;
}

.post-section .post-cards >div > .card-date{
    font-size: 1.2rem;
    padding: 15px 0;
}

.post-section .post-cards >div > p {
    line-height:23.15 ;
}
.featured-section {
    margin:  0 80px;
}
/* 
.featured-section .img-box {
    width: 250px;
    height: 250px;
} */

.featured-section .img-box >img {
    width: 100%;
    height: 100%;
}

.featured-section .featured-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px;
    gap: 40px;
    margin-top: 40px;
}

.featured-box .featured-content > h6 {
    font-size: 30px;
}

.featured-box .featured-content span {
    padding: 5px 7px;
    background-color: navy;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}

.featured-section .featured-content .content-p {
    color: gray;
    margin: 20px 0;
}
.featured-section{
    padding: 20px 0;
    margin: 0 80px;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

footer .fa-brand {
    font-size: 25px;
    margin: 0 5px;

}

footer div {
    margin-bottom: 20px;
}

@media only screen and (max-width:1200px) {

}

@media only screen and (max-width:992px) {

}

@media only screen and  (max-width:768px){
    
}

@media only screen and  (max-width:600px){
    .hero-section {
        flex-direction: column-reverse;
        margin: 0 auto;
        border: 1px solid blue;
        align-items: center;
    }

    .hamburger {
        display: block;
    }

    .nav-links{
        display: none;
    }

    .hero-section .left-hero{
        padding: 40px 0;
        text-align: center;
    }

    .post-section {
        padding: 25px 20px 80px;
    }

    .post-section .post-cards{
        grid-template-columns: 1fr;
    }

    .post-section-headers p {
        display: none;
    }

    .featured-section .featured-box {
        grid-template-columns: 1fr;
    }

    .featured-section{
        margin: 0 20px;
    }
    

}







