/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#shopping-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    
}

.container{
    border: 1px solid black;
    padding: 50px;
}

img {
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 30px;
    margin-left: 80px;
    box-shadow: 5px 10px 15px  gray;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    color: grey;
    margin-left: 80px;
}

p {
    font-size: 16px;
    margin-left: 80px;
    width: 300px;
    

}